| $('tbody').append("#{j(render 'sales_ends/tr', sales_end: @sales_end)}");
| $('#sales_end_name').val("");
| $('#sales_end_belong_id').val("");
| $('#sales_end_post').val("");
| $('#sales_end_telephone_number').val("");
| $('#sales_end_note').val("");
| $('.error_explanation').empty();
| $('.js-message-errors').empty();