| $('tbody').prepend("#{j(render 'belongs/tr', belong: @belong)}");
| $('.set_form #belong_name').focus();
| $('#belong_name').val("");
| $('#belong_address').val("");
| $('.error_explanation').empty();
| $('.js-message-errors').empty();