| $('.tr-#{@task.id}').replaceWith("#{j(render 'tasks/tr', task: @task, visit_record: @task.visit_record)}");
| $("#task-modal").html(
|    "#{j(render "tasks/show", task: @task)}"
| );
| $("#task-modal").modal('show');