#map.mx-auto.my-4 style='height: 350px;'

script [
  async='async'
  src="https://maps.googleapis.com/maps/api/js?key=#{ ENV['GOOGLE_MAP_API'] }&callback=initMap"
]

javascript:
  function initMap() {};
  function initMap() {

		pos = new google.maps.LatLng(
			#{customer.latitude},
			#{customer.longitude}
		);

    var map = new google.maps.Map(document.getElementById('map'), {
      center: pos,
      zoom: 15,
    });

    marker = new google.maps.Marker({
      position: pos,
      map: map
    });
  }
