| $('tbody').prepend("#{j(render 'key_people/tr', key_person: @key_person)}");
| $('#key_person_name').val("");
| $('#key_person_career').val("");
| $('#key_person_note').val("");
| $('.error_explanation').empty();
| $('.js-message-errors').empty();