| $('tbody').prepend("#{j(render 'key_people/tr', key_person: @key_person)}");
| $('.set_form #key_person_name').val("");
| $('.set_form #key_person_post').val("");
| $('.set_form #key_person_email').val("");
| $('.set_form #key_person_sex_男性').val(['男性']);
| $('.set_form #key_person_note').val("");
| $('.set_form #key_person_name').focus();
| $('.error_explanation').empty();
| $('.js-message-errors').empty();