| $('tbody').prepend("#{j(render 'activities/tr', activity: @activity)}");
| $('.set_form #activity_category').val('プレゼン');
| $('.set_form #activity_category').focus();
| $('#activity_name').val("");
| $('.error_explanation').empty();
| $('.js-message-errors').empty();