| var setTime = 0;

- if action_name == "update"
	| var setTime = 500;
	| $("#activity_edit-modal").modal('hide');

/modal('hide')のタイミングが遅いため、modal('hide')の実行時は0.5s後に実行(Chromeで確認、通信状態に依存するかは不明)
| setTimeout(function() {
| 	$("#activity_edit-modal").html(
|	    "#{j(render 'activities/form', activity: @activity, btn_name: '変更保存')}"
| 	);
| 	$("#activity_edit-modal").modal('show');
| }, setTime);